/// basic
$main-color: rgb(48, 117, 56);

//leyout 
$white: #fff;
$light1: #F8F9FA;
$light2: #E9ECEF;
$light3: #DEE2E6;
$gray1: #CED4DA;
$gray2: #ADB5BD;
$gray3: #6C757D;
$dark1: #495057;
$dark2: #343A40;
$dark3: #212529;
$black: #000;

//bg shadows
$black-shadow: rgba(0, 0, 0, 0.6);
$special-dark-shadow: rgba(8, 20, 10, 0.296);

// buttons
$button-hover: rgb(89, 218, 89);
